@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    direction: rtl;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    margin: 0;
    padding-top: 0.7rem;
    background: linear-gradient(155deg,#8D25AA ,#1046A1);
}


.header .nav__top {
    display: none;
    color: white;
}

.header .header_main {
    background: white;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: "logo toggle"
    "menu menu";
    z-index: 1;
    padding: 0.8rem 0.8rem 0 0.8rem;
}
.logo {
    justify-self: start;
    grid-area: logo;
}
.openedMainHeader {
    /* grid-template-rows: 10% 90%; */

    align-items: start;
    animation: slide-down 200ms forwards;
}

.closeMainHeader {
    align-items: start;
    animation: slide-up 200ms forwards;
}


.header_main .main-menu {
    display: none;
}

.header_main .mobile-dropdown {
    position: fixed;
    transform: translateY(-200%);
    opacity: 0;
    padding: 0;
    padding-right: 0.5rem;
    transition: opacity 200ms, position 200ms, transform 150ms linear;
    text-align: right;
    display: grid;
    grid-gap: 1.5rem;
    justify-content: start;
    grid-area: menu;
    
}

.header_main .mobile-dropdown li {
    padding-bottom: 1.6rem;
}

.header_main .mobile-dropdown li a {
    color: black;
    font-size: 1.1rem;
}

.header_main .mobile-dropdown li a span {
    content: url('https://www.hackeru.co.il/assets/site/images/menu_row.png');
    vertical-align: middle;
}

.header_main .mobile-dropdown .mobile-dropdown__sub-menu {
    display:none;
    padding: 0;
    margin: 1rem;
}

.header_main .mobile-dropdown .mobile-dropdown__sub-menu li{
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed #aad6be;
}

.header_main .mobile-dropdown .mobile-dropdown__sub-menu li a {
    font-size: 1.1rem;
}

.header .banner {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
}

.header .banner span {
    display: block;
}

#toggle-button {
    width: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    align-self: start;
    vertical-align: center;
    outline: none;
    padding: 0;
    padding-top: 1rem;
    grid-area: toggle;
    justify-self: left;
    box-sizing: border-box;
}
.toggle-button__bar {
    transform: rotateZ(0) translate(0);
    width: 100%;
    height: 5px;
    background: #213A7F;
    display: block;
    margin: 0.3rem 0;
    border-radius: 2px;
    transition: transform 200ms, opacity 200ms ease-in-out;
}

.rotate45 {
    transform: rotateZ(135deg) translateX(0.5rem);
    transform-origin: bottom;
}

.rotate-45 {
    transform: rotateZ(-135deg) translateX(0.5rem);
    transform-origin: top;
}

.slide-middletoggle-bar {
    transform: translate(3rem);
    opacity: 0;
}

.open {
    /* transform: translateY(0) !important; */
    display: block !important;
    opacity: 1 !important;
    position: static !important;
    top: 0;
    transform: translateY(0) !important;
}
main {
    width: 100%;
} 

section#first {
    background: #f5f8f9;
}

#first h3 {
    font-size: 1.5rem;
    justify-self: center;
    align-self: end;
}
.courses {
    display:grid;
    width: 100%;
    grid-template-rows: repeat(13, 1fr);
    align-items: center;
    align-content: center;
    grid-gap: 0.2rem;
}

.courses a {
    color: #333;
    border: 1px solid rgba(204,204,204,0.5);
    padding: 1rem 0;
    position: relative;
}

.courses a::after {
    content: url('https://www.hackeru.co.il/assets/site/images/arrow.svg');
    min-width: 10px;
    position: absolute;
    left: 0.5rem;
    bottom: 30%;
}

.courses a div {
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}

.courses .course-icon {
    width: 2.5rem;
    height: 2.5rem;
    /* margin-left: 1rem; */
    margin: 1rem;
    
}
.courses a div .course-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.courses a div .course-seperator {
    width: 0.3rem;
    height: 3rem;
    border-radius: 3px;
}

.courses .name {
    padding: 1rem;
    text-align: right;
    flex-shrink: 1;
}
.contact-information {
    display: none;
}
@keyframes slide-down {
    from {
        height: 80.6px;
    }
    to {
        min-height: 30rem;
    }
}

@keyframes slide-up {
    from {
        height: 30rem;
    }
    to {
        height: 80.6px;
    }
}

