@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.desktop-only {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    margin: 0;
    padding-top: 0.7rem;
    background: linear-gradient(155deg,#8D25AA ,#1046A1);
}


.header .nav__top {
    display: none;
    color: white;
}

.header .header_main {
    background: white;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: "logo toggle"
    "menu menu";
    z-index: 1;
    padding: 0.8rem 0.8rem 0 0.8rem;
}
.logo {
    justify-self: start;
    grid-area: logo;
    
}

.logo img:focus {
    outline: none;
}
.openedMainHeader {
    grid-template-rows: 5rem auto;

    align-items: start;
    animation: mobile-menu__slide-down 200ms forwards;
}

.closeMainHeader {
    align-items: start;
    animation: mobile-menu__slide-up 200ms forwards;
}


.header_main .main-menu {
    display: none;
}

.header_main .mobile-dropdown {
    position: fixed;
    visibility: hidden;
    transform: translateY(-20%);
    opacity: 0;
    padding: 0;
    padding-right: 0.5rem;
    transition: opacity 200ms, position 200ms, transform 150ms linear;
    text-align: right;
    display: grid;
    grid-gap: 1.5rem;
    justify-content: start;
    align-self: start;
    grid-area: menu;
    
}

.header_main .mobile-dropdown li {
    padding-bottom: 1.6rem;
}

.header_main .mobile-dropdown li a {
    color: black;
    font-size: 1.1rem;
}

.header_main .mobile-dropdown li a:active {
    text-decoration: underline;
}

.header_main .mobile-dropdown li a span {
    content: url('https://www.hackeru.co.il/assets/site/images/menu_row.png');
    vertical-align: middle;
}

.header_main .mobile-dropdown .mobile-dropdown__sub-menu {
    display:none;
    padding: 0;
    margin: 1rem;
}

.header_main .mobile-dropdown .mobile-dropdown__sub-menu li{
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed #aad6be;
}

.header_main .mobile-dropdown .mobile-dropdown__sub-menu li a {
    font-size: 1.1rem;
}

.header .banner {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 1rem;
}

.header .banner span {
    display: block;
}

#toggle-button {
    width: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    align-self: start;
    vertical-align: center;
    outline: none;
    padding: 0;
    padding-top: 1rem;
    grid-area: toggle;
    justify-self: left;
    box-sizing: border-box;
}

.toggle-button__bar {
    transform: rotateZ(0) translate(0);
    width: 100%;
    height: 5px;
    background: #213A7F;
    display: block;
    margin: 0.3rem 0;
    border-radius: 2px;
    transition: transform 200ms, opacity 200ms ease-in-out;
}

.rotate45 {
    transform: rotateZ(135deg) translateX(0.5rem);
    transform-origin: bottom;
}

.rotate-45 {
    transform: rotateZ(-135deg) translateX(0.5rem);
    transform-origin: top;
}

.slide-middletoggle-bar {
    transform: translate(3rem);
    opacity: 0;
}

.open {
    display: block !important;
    opacity: 1 !important;
    position: static !important;
    top: 0;
    transform: translateY(0) !important;
    visibility: visible !important;
}
main {
    width: 100%;
} 

section#first {
    background: #f5f8f9;
}

.courses {
    display:grid;
    width: 100%;
    grid-template-rows: repeat(14, 1fr);
    align-items: center;
    align-content: center;
    grid-gap: 0.2rem;
}


#first h3 {
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}

.courses a {
    color: #333;
    border: 1px solid rgba(204,204,204,0.5);
    padding: 1rem 0;
    position: relative;
}

.courses a::after {
    content: url('https://www.hackeru.co.il/assets/site/images/arrow.svg');
    min-width: 10px;
    position: absolute;
    left: 0.5rem;
    bottom: 30%;
}

.courses a div {
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}

.courses .course-icon {
    width: 2.5rem;
    height: 2.5rem;
    /* margin-left: 1rem; */
    margin: 1rem;
    
}
.courses a div .course-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.courses a div .course-seperator {
    width: 0.3rem;
    height: 3rem;
    border-radius: 3px;
}

.courses .name {
    padding: 1rem;
    text-align: right;
    flex-shrink: 1;
}
.contact-information {
    display: none;
}

section#second {
    margin-top: 3rem;
    padding: 3rem;
    padding-bottom: 5rem;
    background: url(https://www.hackeru.co.il/assets/site/images/bg_4.png);
}

section#second h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

#second .advantages .advantage {
    padding-bottom: 2rem;
}

#third {
    padding: 3rem;
    background: #fbfcfc;
}

#third .video {
    background: white;
    position: relative;
    margin: 0 auto;
    top:-8rem;
    width: 19rem;
    height: 13rem;
    box-shadow: 3px 4px 3px rgba(139,145,147,0.4)
}

#third .video a {
    display: block;
    width: 18.8rem;
    height: 10rem;
    margin: auto;
    padding: 1px;
}

#third .video a img {
    width: 100%;
    height: 100%;
}

#third .video span {
    padding: 0.5rem 1.5rem;
    display: block;
    width: 100%;
    height: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
}

#third h3 {
    font-size: 1.7rem;
    padding-bottom: 1.5rem;
}

#third p {
    padding-bottom: 1.5rem;
    font-size: 1.1rem;
}

.title {
    font-weight: bold;
}

#footer {
    background: #213b7f;
    padding: 1rem;
}

#footer .main {
    margin:  0 auto;
    width: 80%;
}

#footer .main .title {
    color: white;
    font-size: 1.2rem;
    padding: 2rem 0;
    font-weight: 400;
}

.form {
    margin: 0 auto;
    width: 90%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.form .input {
    background: white;
    padding: 1.5rem 0.5rem 1.5rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.form .input label {
    width: 5rem;
}

.form .input input {
    justify-self: end;
    outline: none;
    border: none;
}

.form .button {
    background: #18FFFF;
    border: 4px solid #00B8D4;
    font-weight: 900;
    padding: 0.5rem;
    font-size: 1.8rem;
    width: 100%;
    outline: none;
}
.form .checkbox {
    align-self: center;
    text-align: center;
    color: white;
}

.form .checkbox a {
    color: white;
    display: block;
    font-size: 0.9rem;
}

.form .social {
    align-self: center;
    padding: 1rem;
}
.branches-container {
    padding: 1rem;
    margin: 2rem auto;
    width: 70%;
    height: 40rem;
    background: url(https://www.hackeru.co.il/assets/site/images/footer-contact.jpg);;
}
.branches {
    display: flex;
    text-align: center;
    padding: 1rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255,255,255,0.5);

}

.branches .new {
    background:  #213b7f;
    color: white;
    padding: 5px;

}

.icons {
    height: 3rem;
    background: #eee;
    text-align: center;
}

.icons img {
    height: 100%;
    width: 60%;
    
}

.fadeInUp {
    transform: translateY(1rem) !important;
}

.align-up {
    animation: alignUp 400ms ease-out forwards;
}

@keyframes mobile-menu__slide-down {
    from {
        height: 5rem;
    }
    to {
        min-height: 30rem;
    }
}

@keyframes mobile-menu__slide-up {
    from {
        height: 30rem;
    }
    to {
        height: 5rem;
    }
}

@keyframes alignUp {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




